<h2>Artwork Top Picks of the Month</h2><hr>
  <h2>New Playlist</h2>
	<div id="featured-songs" class="navbar-left">
		<iframe width="100%" height="700" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/276598615&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>	
	</div>

	  <div class="container">
	  	<div class="row">
			<div style="display:flex;"><!-- Flexbox -->
				<div class="row">
					<div style="margin-left: 50px;" id="featured-art" class="col-md-10">
						<h4>Push by: tiger1313</h4>
							<a target="blank" href="http://digitalart.io/148-epic-digital-art-images-wallpapers/">
							<img style="width: 100%; height: 400px;" alt="Push by: tiger1313" class="img-rounded" src="http://digitalart.io/wp-content/uploads/2013/06/push_by_tiger1313.jpg"></a>
					</div>

					<div style="margin-left: 50px" id="featured-art" class="col-md-10">
						<h4>Asteroid Shore by: jamajurabaev</h4>
							<a target="blank" href="http://digitalart.io/148-epic-digital-art-images-wallpapers/">
							<img style="width: 100%; height: 400px;" alt="Asteroid shore by jamajurabaev" class="img-rounded" src="http://digitalart.io/wp-content/uploads/2013/06/Asteroid_shore_by_jamajurabaev.jpg"></a>
					</div>

					<div style="margin-left: 50px" id="featured-art" class="col-md-10">
						<h4>My Pink Elephant by: 1maginate</h4>
							<a target="blank" href="http://digitalart.io/148-epic-digital-art-images-wallpapers/">
							<img style="width: 100%; height: 400px;" alt="My Pink Elephant by: 1maginate" class="img-rounded" src="http://digitalart.io/wp-content/uploads/2013/06/elephant_traveler___my_pink_elephant_by_1maginate.jpg"></a>
					</div>				
				</div>
			</div>
	  </div>

	  