<h2>Soundcloud Top Picks of the Month</h2><hr>
            <div style="display: inline-flex;"><!-- Flexbox -->
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/255852095&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> 
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293181375&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293361259&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204901054&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/278386895&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290839918&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
            </div><!-- End flexbox -->
            
<h2>Latest ShoutOuts</h2><hr>
	<div class="container">
		<!-- Articles to display in a table -->
		<table class="table">
	      <thead>
	        <tr>
	          <th>Title</th>
	          <th>Author</th>        
	          <th>ShoutOut</th>
	          <th>Date Created</th> 
	        </tr>
	      </thead>
	      <tbody>
	        {{# each posts}}
	        <tr>
	          <td>{{this.title}}</td>
	          <td>{{this.author}}</td>
	          <td>{{this.post}}</td>
	          <td>{{this.createDate}}</td>
	        </tr>
	        {{/each}}
	      </tbody>
	    </table>
	</div>


<h2>Free downloads</h2><hr>
	<div class="container">
		<h3>Featured Songs</h3>
			<p>For the best listening experience, we recommend <a target="blank" href="https://www.vlc.de/vlc_download_64bit.php">VLC media player.</a></p><hr>

				<div style="display: inline-flex;"><!-- Flexbox -->

					<div id="featured-songs">
					<h4>Illuminati - Anonymous</h4>
					<audio controls>
						  <source src="https://00e9e64bacfd857fc98a3c671d6127376c513d1e16a2c63a62-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FIlluminati-Anonymous.mp3?qk=AD5uMEsdNjEz713PtrcuIk4daCHfXppSISRk4nbN-SC4zJqcbYqNbyK98rE6ASPEuy_eiCrp1-diHIL4TjzEfw1WZIRo8GssMiZqs6Xe27U4hvGKeAVa1kiWV49cunzKaqd-ONiPVYIH7gdz1AY1s4HpcGpqQ0L9ag4BqPiD90wf4wyFJCHwrj5ufnRUIaTLvTaB5U779RUx7ExQeey92Eent1q4aZq_PKWEFx3b0uVvNIRkPAFGIp82JAt2SQsnrmhATr82_LM61e80XXYahVFEBRO7fbCpWWdjWjwwtwFBTqlLKci_zRYoo5Z4BJ9z3LqqOQlTF9vugaEyjIRXemlsvoIZYUbj5qeOYIcVefTM71SL0_Axh4Tz6OSk4Q1Wcpv5gVqAE4R1zL3PI2nY3Fg_JTFV81vvxMztCwuRE2kkWyEd-a_h6gzxUov1iU2gUGr4m8-1njuS2_9vKI40_iWF55g7co_svjX9vnJlac63Z7bMOz3AKlqYP93dItI6Xpi32283XK9e02TamhhqzeeymbipU-Mn6Bw6wDA5LM-IjJOuP5Poc9ZcnH4oR05ypL8jTqQlfZVdry9z0HwqoIOMBNpjxhwBV7WkTjMLiXtp0DWaWY7x44qiO3gAC94uUT83ewhc6fP750PUhN96owVDZovuxTA5jkOGQ15vxYr55YPm58KN70ToMo5QMkdSMsi6uLWiFVkylrTZ0Czo_3Xb8jIWxh-PGtqIMt4Sw7J8uBmwMkVbB9opAGnRynGZW_hoWA485u5bWj_-7VmDRgbs7ZNTKfDKW_Dgu66PxsbmbAN7eom03tkYODOExdADakpHSlcrS4u2Z8ohyBcNgB-mbLL1qUJCSQ" type="audio/mp3">
					</audio>
					</div>

					<div id="featured-songs">
					<h4>Mortal Kombat Theme - Ryashon</h4>
					<audio controls>
						  <source src="https://00e9e64bac853d8a38ba2b1fe4e1e1e72372a173b3cf2435df-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FMortal_Kombat_Theme_Metal_Cover_by_Ryashon_CBR_192k.mp3?qk=AD5uMEt0UcIMg0SEjTWZAgEjZ_Fbbzk18CZdeeZhCc-gH6Gl_2386MLmIldt9eQCZfmJDMtKmvNfrxBZVS0ibKTeJtJ6fPvRS0kKUJaoyjujkvSCDkqeN5LdcNXm8Jcs5-YEEi-it3cv-fqAagD37fGsPXaaAKFBmzNcF4dGKpbxXdu8QCB5_rVa1nZyuDOgO8hvXoYR0VMyhLzAqERi1kSE_pPd0z89Brn8YFrc3Luhbw5SbY54bo_ocvq1NRwEzyJkUPtRGFfVa9oq07RCqZ2NE--jLHyPhl8-uKYS5xMfbC6j6YzBvd8ZcVFbiKifBf4m_fU1HElmQnBOGznpIgBkS8VOwW4zVVDMmdMCxR7Z3-_c3B5jCSlSEKyYZWaQTCNvZQW7XoPWHKeEMaiy05fDcihMnPWnPxI0GkG6uoT7CGwb_6h1w50oUGE58LRyMmrrCPvabduTHogkcLIIkMeQrwJzpL8WWbEXj97Zma_RxcrzHnr8Uksqp87P-GWTChg12axABmT2WIzyiJsY2ATUMMqojY2-XYe7N6k2w9dND0wFAkMTQk3igOJ6rQj7rfJ5bbr1GeH9uH3TwMe0kZP1OZk44U-_RzMV_Q84T0QGvlgtz1W_SxtQdFifQboex5E-zm5zJpQ6bCEJqc0CdPqN7V2TKQOLZWDapP-cljUPrIGTEJZZ2C2_OXFFwBWIyt05MT7avhRc0z4s0QbJ-5TzLD-4E88Tq76o_m8roPH3BX0K1lWps_6n-xq6zzxZDgjVdBq_jhdlzHaj6eeiWAHuiUuXC1nxvOvCJGf56tXxZDiD4TGxvS4UMiE8P0Xj67glyNqQWkPPATjO8Wkck1GMWUyTdlMkPgNdZaWEt4tRZHXeTqpeGPa5rHbn5lOH_whS2FgxixGF" type="audio/mp3">
					</audio>
					</div>

					<div id="featured-songs">
					<h4>Devin Martin - Killbot</h4>
					<audio controls>
						  <source src="https://00e9e64bace3b8ac72f872e426fea7c0d33a459858173ccdc8-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FDevin%20Martin%20-%20Killbot.mp3?qk=AD5uMEt87F4NumfBe8HmSV10CfSoSInfcSsSUwmyAfa4ZDtSP_xjL3Od-xQtp7YMuBLwcmvp1Ms5XtSIKkIdTgD877JVGcWXWwF7WPRXhr95orRd0m0bItXSyrfBP1r3ED2539WM24HyxSMsaqdMG10FE6cmGIlZ26G2Yrk0zSKuzGpDX9I8MH1lBRLjENsnHIL7ZqjDeUc_5EA6B2K3xi66A2bIlvyqJYwlcFx8W6PSXfk9vzjpNmfb6ekmEgnxT60lJISVejGWaFDr8I8f4QRbF9AMEjjUUSu28l-9fsO3-gBWNgZj0bfcq4oi2Pij_JDb5wMAXyVew_mtgk_f1aSS7KOJ2Kqc5zWTzvysfn7AZehCNYgbcUFvmZqpFZpBAcjv6VYTGtvtGq2_bzFX49ZzlBnOkbWfRzZOaMJ5MKsXZMgfcj3lAddN_jr6dprAcMH4w2QddV-BdQTej0GkBag1RDbAYwHozq3uHF2mtGFKpFZ8PcqkuD91KOGhM3Ef24uOgmXULLCtOs5hi0eeJavctg2HTWUZJGbiJhoPPR6bjmwpkLCieFmgHUirLkEYG7SEwjXEIB448zHVOFLCmHdEeLyi7xaSBtJ_PAMZkrrZNUcNO74leh9Zajotl690xyBDzp1EZIiM7ITqr5h9UELQv65SQjBClR6STk5G25WkxmzytaUvlgFX7XkxavpB-MFQUkAP54fRzJfnjyjU3-AJsfQ9a9GYA1XfQS-sGuGtvJ7CkXIDDiP0ST8NldhF8bPslpScSdc4hMb51o3gH4OmVZghlRBX6ZJxFHBIEZt3HCJmpbi4DYH5IN5GZy_OPff_ueSNVcOZPg6vMqQ7ITMgmiY6QL0lZg" type="audio/mp3">
					</audio>
					</div>

					<div id="featured-songs">
					<h4>Koven - Silence</h4>
					<audio controls>
						  <source src="https://00e9e64bac28fded774bf880074bcc12df537e76393de12355-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FKoven-Silence.mp3?qk=AD5uMEuiPb972WGco8YyXkotwHMbMS_VbpOsylzSxE7e1mmNmAr8yvGOsa_GX8432xwIRRp7hMvkcbLYL7eSwychHaGHKn_DSPR8nUzJpFL8tIn8DnB_IQ_96IHsFE4227zADPcARaOdP3bJn3_AM3bECdIQU7I9F9Mp-1EtsWbHAr56LxOUpwDWKLugwR5wOYUKJqbkPqBoJ_-dOfKNypjUF2r2GF7YRP8oLnS7TQtKJ6MMJwGUSs-mKolXwNMI7DN29VHTkKCzw2oJQIgQzEJevuIfHxuW650eW_d6spX22PlB3jYzNL1ZS8_KUeLC6gLZTP85iC5ECN7CNV6wOI59iZsV072JIDbdZw7A0uSbmH-76xr44w88qdkYipEkYQLPnWGmB_e2GIyR79IQHbV-vJGtQ0k3uTbcoS35AejIyg3ENDr9yi83OEFsQyKWniO2Q-bzhZ1knGuypdLMRliR0zWcVBmih5admvpGIV2ONVbuCWuy1tbR0mhkTUZIU3GcvV5uIsNxt9fraJcPH10s1z8hs_KRsTAXbspLV8weqjFhGdzzbwrWoaqF6QViMMBR9LyP5aZA8avoHrRvQtbneBO0xio0AAVOdZIYhSdp3OjMyobXd2lYeV-mrSHXzkKZO4qtJpJASGkJito59z4QmWdVHCYE6LONgV3Oo7I7cT23ppYd6A1ORk7lJY-iBd65Ufd8eZAh2GpxkJNLkFkiH7zOAIAXx9E3SMCx-4x3W_omjtdznMh-hnHUdRw9GVbTry2QEi-xkcNIEBdZb21hZRopEr3h3i_zAm_tr1XJolab7Rm2oa85SbdLWuuV3LxwAGtalcZ8" type="audio/mp3">
					</audio>
					</div>
				</div><!-- End flexbox -->
	</div>
