<h2>Soundcloud Top Picks of the Month</h2><hr>
            <div style="display: inline-flex;"><!-- Flexbox -->
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/255852095&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> 
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293181375&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293361259&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204901054&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/278386895&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
              <div id="featured-songs">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290839918&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
            </div><!-- End flexbox -->
            
<h2>Latest ShoutOuts</h2><hr>
	<div class="container">
		<!-- Articles to display in a table -->
		<table class="table">
	      <thead>
	        <tr>
	          <th>Title</th>
	          <th>Author</th>        
	          <th>ShoutOut</th>
	          <th>Date Created</th> 
	        </tr>
	      </thead>
	      <tbody>
	        {{# each posts}}
	        <tr>
	          <td>{{this.title}}</td>
	          <td>{{this.author}}</td>
	          <td>{{this.post}}</td>
	          <td>{{this.createDate}}</td>
	        </tr>
	        {{/each}}
	      </tbody>
	    </table>
	</div>


<h2>Free downloads</h2><hr>
	<div class="container">
		<h3>Featured Songs</h3>
			<p>For the best listening experience, we recommend <a target="blank" href="https://www.vlc.de/vlc_download_64bit.php">VLC media player.</a></p><hr>

				<div style="display:flex;"><!-- Flexbox -->
						<div class="row">
						  <div style="padding: 10px;" class="col-xs-6 col-md-4">
						  	<h4>Illuminati - Anonymous</h4>
						  	  <div class="container-fluid">
								<audio controls>
									  <source src="https://00e9e64bac6b13f45122526acf0bbd50288a9a46f7eb51a5c5-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FIlluminati-Anonymous.mp3?qk=AD5uMEuEujFn_LCLtU_l1G_OT4omw-g9iJqysKigIjQ-u9Yc-3aRn0hjNnqG3moBTl-zUKaBZgScHFluuXa9T0NsD6ywGNA9wqqfzlRx2mPaT72x-Rc4XsxWzg9QwBLeAjZ1JOUk8iQt6o73jm637N83Qd1LUd5UDDim-XbarORaPEvWTKu32_zMnc4dnjWqJV4IBloqLTq9Q_udo-koiBRObHiTZkDrmGvxMen2qcueinWNAqGwDrOuek0mYymYZK0hG2GwI0favHCDn1wLPOmguKqWXYt9mIiZQhZAgWRTN6Z9-hvtivepJorI-4uJvhuPOjqlFCwAMNxcX7akVwaoq7K1v0I810k8AamK_C69fW2ShGmNz0FexVw5flYgQtaDhuxeBJlfEt_0uTRrj-DjA6QF1MMKtVmwCyTwWfH5wfpaCvgl0BEotWhoGrqxS0oSviXa2iYOA9WUqBBYfQyIh3tIWXfAp4T5dYOnOG0lTj1qo-gCj1kkiL0-kXy4aPq3Qbw_a8n3ChD_f92pNAlolWAjAdmwGETtNhRNGG9R_TfkSrh4_eL6FmvO_0DR4N9LwnRi8X0vZemmkMhFvwzibLJMPBMr-jlGQE6ZmnEkDkKZbWBC0r65KYSYA21NloBV1eYMs3uSuJOfybJ2gpW11vYtjvPcHUMXow1itwYXGhJ3ouWOIYJEi-VRBpacTb0HJdcD4ZZMlqlpe1Fx7E-gTqwmhTNZ4lGemUM5KegcxjQnboV5n_sm5K9FkBT8Uxz0N11qzHeW3gNNMflxU3vByuK2FcGT3ryE1Q9vjml4VOqx4BR-hazHdwkyachO2_3E5tQvfA3T8At9HMOprWU5NM0uItXBxg" type="audio/mp3">
								</audio></div>
						  </div>

						  <div style="padding: 10px;" class="col-xs-6 col-md-4">
						  	<h4>Voodoo Like You Do - Attribute Free</h4>
						  	  <div class="container-fluid">
								<audio controls>
									  <source src="https://00e9e64bac342e2fa7b2d50faa0c1a21529c091197a4a2bab1-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FVoodoo_Like_You_Do.mp3?qk=AD5uMEsybZjq164lOjwrEh_p6Kb9km-0y1H9B0_UqTWE6KLZLvMl-V_Hu-mDWvpcpO3mSSkL3wKiIQV6lvcgGn_zFQ2KLWYpY1wtBSAKpcvek80ADLMr0gelQoqeaMBrdLkg6zTkTbmA3r-KQu6s8ShTcdp1j1o_fdmz2FhdxZOCNtvqgWqxzU6hRlougXzAn5u9DPdNFfdhG9pzxbwBHh6H0_1nrbxdFP2Z0i04Xtnaw77X03IgbHAHfs6tQr_W_frDOkP-OENRV6cayMgfDEddGNWi51LO-e39xJBuvvcB1XCSvOwDd7FC-cBS2aeAQ_v_16EGtuAwiHGpMlZzNj1A-5YgZ80oolhCpsDjkAWV-BNn97aJ7aF-58XdichbP32yelFs4JpqtUUFrYftUvAOtDe9yKJ4RJGVXfkmGCe9GEJ6r8345WXpZwkE3868AiCOkk1kyC_QRNEizH-OrI_9D8BC5pdK8xgeSQpD0TdFifGP_FaLGRGCFkkTyAV8n_lPMlOTshxKhPj05v75S3bplrA7Z4bzVWPOURnRDXriQh7ColSFPeqZoRnlIL70OGnOcwes7dN0LLmcA01QuRfR84BScVGH5WuxUtXqFcjZa7g1NNJx1bIGZc23AtBvm1eWikbxorpBJBFL4v_rUCrNPzfcinPj3KR38iJBzFkom6MaElQRENYCuwJmmsQZctd6hMm9TxiBwM7LwR90-u1hN0kUgWu0ShhfeU-gq82LSf7cOZPxHFvC68fywP7Um65fv1eq4NSz3s-dNxfOkYxxJm1O2JWqy-7itRQ_OXFFU6SlGWgLMISc97Zt3x2EIPQhrVFRKlTT" type="audio/mp3">
								</audio></div>
						  </div>

						  <div style="padding: 10px;" class="col-xs-6 col-md-4">
						  	<h4>Tremz - Attribute Free</h4>
						  	  <div class="container-fluid">
								<audio controls>
									  <source src="https://00e9e64baca7e0142af652fe223bd5de37a43fe4b15054550b-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FTremsz.mp3?qk=AD5uMEvs4_cH5juzStHSi-0tGqKsy6zBzMAWrN9ZXUnsY4yPly6TnakVtS8fN5dxgrygRSyNNjXuKntcGtEVyNV6y3k6di2UWaCqyxHU_D1Ilf5lBlx-kEpjPa2jW0oJ7_A5NM0gmaolRkEh_E8dkCU_VKG30OPvs9mk2x5MIJgLjaSRxrBz9VW0CThkbtKHhUiN8QYIMDoZ3R4Ovp0Wwpb6VsTorrYXzPuOnW26VMuhm__sRInDaWDHYSHfPCrZGpaSeC-D5pS26bzfokoaVX9RIpd3mVpX-UsXn6_h6iJyKVEGnYFtT6jNjzQqfMFsWi52INHt4erT7tXZeByOdfBtK2yNfYhpLcuMaCAHbnbEkXOlJJMrwIoQDk13IPrK8-n7OTxzRyFZQ1MVJnYRUuuMKc9W1I9JokxPyo_Bq2H6pjrY8DdVX4abZhTM_LlGiRAydW1JaPbbYanj5gRsN54rrWXfJLj7bM2mbhXwekvCOo9dwEmbhrKLzDKzpvIcYTa0H5b3ovnQix83nTzSvtdASkS_SDlaYdqZlmHlhaGbM06eQ2vd7TmzIEPgwGUlyS_ozbUqFcinhq-dtAfTkVHLr0sEQ13Hol-G9ToeqKcYuqyH7e4sLLIeqZLzI5K-x3_avQpJnd0WKRsG26OI9-u9fHzxMBlcHdRYOq4SMwLYfM9v0GgCts1b7bUajRxffDo8Wkf2-JTahjWF6GBnFqxthXINvBGCmg1vuBd59nrqDiJF7uRxLdUoMbJhu2XiJp_zbyTxrUnr_WDN7N-9csmukztFLUZ5zR3LSDKqhqrFsT4VGM1NHbOH_dDvKpJ3Rnr5sQRRG8J-" type="audio/mp3">
								</audio></div>
						  </div>

						  <div style="padding: 10px;" class="col-xs-6 col-md-4">
						  	<h4>Dubstep In the Right Direction - Attribute Free</h4>
						  	<div class="container-fluid">
								<audio controls>
									  <source src="https://00e9e64bace6727b0d613e08d938a386b55749d61c0d5fae86-apidata.googleusercontent.com/download/storage/v1/b/music_file_samples/o/Google%20Cloud%20Storage%2FDubstep-In%20the%20Right%20Direction.mp3?qk=AD5uMEunsCrhocQ_rqb5Y-Ap7wPCzCY7yGIjwKngFZlVt1EWxPmS7BXrf0oHSCprFbhmajX0eh_DrYTvqQcT3LAfkn9R0AsZnyIdqhFMVavwjzUZ0U88IfXwoO2LWcDw4QcXRUc7OuQlG8crGDcDGidzWnrDeXRrvOKWj98uW_iyUXWM9Yx1047Udzj6yBezgvCiW8T1qTAGO29p7TlpCQnZAb49zptLNmUcWXkVja1HGQORWYf4qfasHF-3Gfij80b52UX40-D9UQmyRMi_MmGMWsUmVi6tC6oJWCgcBCN_V3DX5aE_91FoX3kUBPft9vYJOoZq8DX24C_iHkQp_nIprpk2e5oFj8wtY2OOdbIoGRupRS7zAkCU3x49-ctd2qo6hN5tqgmHt59OdPq6fMMR9UzltL35J6OuYyEkH7NokDF42G3mBGIGlpICRiL_EnYHG2qHDh_x1sfAg9s91qblZFWXMgXSswRH_Kfj6TB_69eznThCqeywiwrabYK9ouxVTjCwIIyjYybN8C6WVPcGVcwMeAyBmPKblzsS-HbjUApttybH0bHhxYeLH62Re9HKK-PdH-W19OBmk_MGmpb99hRsOGT3XRX8FZb3D9MVZc0e2Yshdy9bZp4lQ0pdHKoByPdh6QUBNhlbpEELcyqAXRiX8dsnWcKnksrwUfNNt68hTDwoPOxZduvrPHMKBrYa0H5X0wtMzaKtygDCokMlh7rHeoCcrHO3Z9h-uNQzPfYBySno8HEst16JftyUwJeP-9pc7Tvq5gKG9Rb3CjU_7yJAl4OWB3_jBRXf2EjXg6AWtGH7N3bJ0b2gkT04YjNxcBWSA6mlUMxmdcBPLXd4Lu3JCtswY52-79aGWG2YgR1AKacK2Ls" type="audio/mp3">
								</audio></div>
						  </div>
					</div>
				</div><!-- End flexbox -->
	</div>
