<h2>Video Top Picks of the Month</h2><hr>
	<div style="display: inline-flex; padding-left: 30px;"><!-- Flexbox -->
		<div id="featured-songs">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/0rqeR-iLKYA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="featured-songs">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/0rqeR-iLKYA" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="featured-songs">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/0rqeR-iLKYA" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
